# Airflow Core
apache-airflow==2.10.5

# Airflow Providers
apache-airflow-providers-apache-spark
apache-airflow-providers-apache-kafka
apache-airflow-providers-postgres

# Kafka
confluent-kafka
kafka-python

# Spark
pyspark==3.5.4

# MySQL
pymysql

# PostgreSQL
psycopg2-binary==2.9.9

# env
python-dotenv==1.0.1

# Python
pandas==2.2.2
numpy
requests==2.31.0

# LLM
transformers==4.52.4
accelerate==1.7.0

# MLOps - FM
scikit-learn
mlflow

# KoNLPy
konlpy
