# Airflow Core
apache-airflow==2.10.5

# Airflow Providers
apache-airflow-providers-apache-spark
apache-airflow-providers-apache-kafka
apache-airflow-providers-postgres

# Kafka
confluent-kafka
kafka-python

# Spark
pyspark==3.5.4

# Database
pymysql
psycopg2-binary==2.9.9

# env
python-dotenv==1.0.1

# Python
pandas==2.2.2
numpy
requests==2.31.0

# LLM
transformers==4.52.4
accelerate==1.7.0
konlpy

# MLOps - FM
scikit-learn
mlflow

# MLOps - XGBoost
xgboost==1.7.6
PyYAML==6.0.1
joblib==1.4.2
